{% extends "head.html" %}
{% block body %}


<body onload="loadMap(); update_values();">
<style>
  #mapid {
    
  border: 3px solid black;
  border-radius: 12px;
  height: 85vh;  /* or as desired */
  width: 80%;  /* This means "100% of the width of its container", the .col-md-8 */
}
#bob{
  padding-left:15px;

}
 #ltlgdisp {
        position: absolute; 
        top: 10px;
        right:10px;
        z-index: 3;
 }
</style>
  <div class="container-fluid">
    <h4 id="ltlgdisp"></i><span>Position </span><span id="LATITUDE_Output">?</span>, <span id="LONGITUDE_Output">?</span></h4>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home"><h3 id="lndIns" onclick="swapSizes(0)"> Landing Inspector |&nbsp;</h3></a></li>
      <li><a data-toggle="tab" href="#map"><h3 id=fltMap  onclick="swapSizes(1)"> Flight Map |&nbsp;</h3></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active" style="padding:10px 20px 0px 20px" id="home" >
        <nav class="navbar" style="background: #1a1e34; width:100%; height:30px;">
          <a class="navbar-brand" style="position:relative; margin-top:-12px; margin-left:8px" href="#"></a>
        </nav>
        <div class="row">
          <div class="col-sm-3">
            <div class="card card-chart">
              <div class="card-header">
              <h5 class="card-category">Current Vertical Gs</h5>
              <h3 class="card-title"><i class="tim-icons icon-planet text-primary"></i>  <span id="G_FORCE_Output">?</span></h3>
              </div>
            </div>
          </div>


          <div class="col-sm-3">
            <div class="card card-chart">
              <div class="card-header">
              <h5 class="card-category">Current Vertical Speed (FPM)</h5>
              <h3 class="card-title"><i class="tim-icons icon-send text-info"></i>  <span id="VERTICAL_SPEED_Output">?</span></h3>
              </div>
            </div>
          </div>
      </div>
      
        <div class="row">
          <div class="col">
            <div class="card card-nav-tabs text-center">
              <div class="card-body">
              <p class="card-text"><<<<< LANDING DETAILS >>>>></p>
              </div>
            </div>
          </div>
        </div>
        
        <div class = "row">
          <div class="col-12">
          <div class="alert alert-default" role="alert">
          Landing Rating: <span id="LANDING_RATING_Output">N/A</span>
          </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-6">
            <div class="card card-chart">
              <div class="card-header">
              <h5 class="card-category">Touchdown Vertical Gs</h5>
              <h3 class="card-title"><i class="tim-icons icon-planet text-primary"></i>  <span id="G_FORCE_LANDING_Output">N/A</span></h3>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6">
            <div class="card card-chart">
              <div class="card-header">
              <h5 class="card-category">Touchdown Vertical Speed (FPM)</h5>
              <h3 class="card-title"><i class="tim-icons icon-send text-info"></i>  <span id="VERTICAL_SPEED_LANDING_Output">N/A</span></h3>
              </div>
            </div>
          </div>
        </div>
        

      <div class="row">
        <div class="col">
        <div class="card card-chart">
          <div class="card-header">
          <h3 class="card-category">Landing Vertical Gs</h3>
          </div>
          <div class="card-body">
          <div class="chart-area">
            <canvas id="chartLineGs"></canvas>
          </div>
          </div>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
        <div class="card card-chart">
          <div class="card-header">
          <h5 class="card-category">Landing Vertical Speed (FPM)</h5>
          </div>
          <div class="card-body">
          <div class="chart-area">
            <canvas id="chartLineVSpeed"></canvas>
          </div>
          </div>
        </div>
        </div>
      </div>


      <div class="row">
        <div class="col">
        <div class="card card-chart">
          <div class="card-header">
          <h5 class="card-category">Altitude Above Ground (FTS)</h5>
          </div>
          <div class="card-body">
          <div class="chart-area">
            <canvas id="chartLineAlt"></canvas>
          </div>
          </div>
        </div>
        </div>
      </div>

    <p class="text-muted">
    Notice: G force indicator is dependent on FPS and is less reliable than the vertical speed at the moment of touchdown.
    </p>
    <p>
    version 1.1 | Created by <a href="https://www.caronstudios.net">Caron Studios s.r.o.</a>
    </p>
    <p>Support the development by donating <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=CXDDYFUSWA2Z4&source=url">here.</a>
    </p>

      </div>
      <div class="tab-pane fade" id="map" >
        <button type="button" id="toggleZoom" class="btn btn-secondary" onclick="zoomToggle();">Disable Autozoom</button>
        <button type="button" id="togglePan" class="btn btn-secondary" onclick="panToggle();">Disable Auto Pan</button>
        <button type="button" id="clearTrack" class="btn btn-info" onclick="clearTrack();">Clear Track</button>
        
        <div class="row" id="bob">   
          <div class="col-md-10" id="mapid">      
          </div>
          <div class="col-md-2">
            <div class="col-sm-12">
              <div class="card card-chart">
                <div class="card-header">
                <h5 class="card-category">Current Speed (knots)</h5>
                <h4 class="card-title"></i> True  <span id="HORIZONTAL_SPEED_Output">?</span></h4>
                <h4 class="card-title"></i> Indic <span id="INDICATED_SPEED_Output">?</span></h4>
                <h4 class="card-title"></i> Grnd <span id="GRND_SPEED_Output">?</span></h4>
                <h4 class="card-title"></i> Mach <span id="MACH_SPEED_Output">?</span></h4>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="card card-chart">
                <div class="card-header">
                <h5 class="card-category">Current Altitude (feet)</h5>
                <h4 class="card-title"></i> ASL  <span id="ALTITUDE_Output">?</span></h4>
                <h4 class="card-title"></i> AGL <span id="GND_ALTITUDE_Output">?</span></h4>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="card card-chart">
                <div class="card-header">
                <h5 class="card-category">Ground Elevation</h5>
                <h4 class="card-title"></i><span id="GRND_ELEV_Output">?</span> ft</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="card card-chart">
                <div class="card-header">
                <h5 class="card-category">Destination Distance</h5>
                <h4 class="card-title"></i><span id="TARGET_DIST_Output">?</span> nm</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="card card-chart">
                <div class="card-header">
                <h5 class="card-category">Max Gs</h5>
                <h3 class="card-title"></i>  <span id="MAX_G_Output">?</span></h3>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
<script>
  function swapSizes(x){
    if (x==0){
      document.getElementById("lndIns").style.fontSize = "xx-large";
      document.getElementById("fltMap").style.fontSize = "x-large";
      document.getElementById("lndIns").style.color = '#66ffcc';
      document.getElementById("fltMap").style.color = '#669999';
    }
    if (x==1){
      document.getElementById("lndIns").style.fontSize = "x-large";
      document.getElementById("fltMap").style.fontSize = "xx-large";
      document.getElementById("fltMap").style.color = '#66ffcc';
      document.getElementById("lndIns").style.color = '#669999';
    }
  }
</script>
<script>
  document.getElementById("G_FORCE_Output").innerHTML;
  document.getElementById("VERTICAL_SPEED_Output").innerHTML;
  document.getElementById("G_FORCE_LANDING_Output").innerHTML;
  document.getElementById("VERTICAL_SPEED_LANDING_Output").innerHTML;
  document.getElementById("LANDING_RATING_Output").innerHTML;
</script>

<!--   Core JS Files   -->
<script src="/static/assets/js/core/jquery.min.js"></script>
<script src="/static/assets/js/core/popper.min.js"></script>
<script src="/static/assets/js/core/bootstrap.min.js"></script>
<script src="/static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>

<!-- Chart JS -->
<script src="/static/assets/js/plugins/chartjs.min.js"></script>
<!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
<script src="/static/assets/js/black-dashboard.min.js?v=1.0.0"></script>
<script type="text/javascript">
    // SimConnect Scripts
    var dummy = 1;
    var intervalID = setInterval(update_values,100);
    var mymap;
    var marker;
    var trackline
    //[lat,long,bearing,seaAlt,gndAlt,vel,vs,throttle,fuel,onGround,etc?]
    var trackData=[]

    var panBool=true
    var zoomBool=true;

    function panToggle(){
      var elm =document.getElementById("togglePan");
      if (panBool==true){
        panBool=false;
        elm.innerHTML = "Enable Auto Pan";
      }
      else{
        panBool=true;
        elm.innerHTML = "Disable Auto Pan";
      }
    }

    function zoomToggle(){
      var elm =document.getElementById("toggleZoom");
      if (zoomBool==true){
        zoomBool=false;
        elm.innerHTML = "Enable Autozoom";
      }
      else{
        zoomBool=true;
        elm.innerHTML = "Disable Autozoom";
      }
    }

    function clearTrack(){
      trackline.setLatLngs([]);
    }

    function saveTrack(){
      //Must Do
    }
    function loadMap(){
      document.getElementById("lndIns").style.color = '#669999';
      document.getElementById("fltMap").style.color = '#669999';
      document.getElementById("lndIns").style.fontSize = "x-large";
      document.getElementById("fltMap").style.fontSize = "x-large";
      mymap = L.map('mapid',{zoomSnap: 0.2}).setView([0, 0], 16);
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'}).addTo(mymap);
      var planeIcon= L.icon({iconUrl: 'static/img/plane.png', iconSize: [64,64], iconAnchor: [32, 32]})
      marker=L.marker([0, 0],{icon:planeIcon}).addTo(mymap)
      trackline = L.polyline([], {color: 'red'}).addTo(mymap);
      mymap.invalidateSize()
    }
    
    function update_values() {
    $.getJSON($SCRIPT_ROOT + '/_stuff',
    
    function (data_simconnect) {
    $('#G_FORCE_Output').text(data_simconnect.G_FORCE)
    $('#MAX_G_Output').text(data_simconnect.MAX_G_FORCE)
    $('#VERTICAL_SPEED_Output').text(data_simconnect.VERTICAL_SPEED)
    $('#ALTITUDE_Output').text(data_simconnect.ALTITUDE)
    $('#GND_ALTITUDE_Output').text(data_simconnect.GND_ALTITUDE)
    $('#HORIZONTAL_SPEED_Output').text(data_simconnect.HORIZONTAL_SPEED)
    $('#INDICATED_SPEED_Output').text(data_simconnect.INDICATED_SPEED)
    $('#MACH_SPEED_Output').text(data_simconnect.MACH_SPEED)
    $('#GRND_SPEED_Output').text(data_simconnect.GRND_SPEED)
    $('#GRND_ELEV_Output').text(data_simconnect.GRND_ELEV)
    $('#LATITUDE_Output').text(data_simconnect.LATITUDE.toFixed(5))
    $('#LONGITUDE_Output').text(data_simconnect.LONGITUDE.toFixed(5))
    $('#TARGET_DIST_Output').text(data_simconnect.TARGET_DIST)
    $('#G_FORCE_LANDING_Output').text(data_simconnect.G_FORCE_LANDING)
    $('#VERTICAL_SPEED_LANDING_Output').text(data_simconnect.VERTICAL_SPEED_LANDING)
    $('#LANDING_RATING_Output').text(data_simconnect.LANDING_RATING)
    lat=data_simconnect.LATITUDE
    long=data_simconnect.LONGITUDE
    gndAlt=data_simconnect.GND_ALTITUDE
    seaAlt=data_simconnect.ALTITUDE
    dist=data_simconnect.TARGET_DIST
    bearing=data_simconnect.BEARING
    coordSet=[lat,long];
    trackline.addLatLng(coordSet);
    basezoom=17;
    zoom=basezoom-Math.log1p(gndAlt/10);
    mymap.invalidateSize();
    marker.setLatLng(new L.LatLng(lat,long));
    marker.setRotationAngle(bearing);
    if(zoomBool==true){ mymap.setZoom(zoom);}
    if(panBool==true){ mymap.panTo(new L.LatLng(lat,long));}
    
    
    var empty_labels = data_simconnect.LABELS;
    var list_landing_gs = data_simconnect.G_FORCE_LANDING_LIST;
    var list_landing_vspeed = data_simconnect.VERTICAL_SPEED_LANDING_LIST;
    var list_landing_alts = data_simconnect.PLANE_ALT_ABOVE_GROUND_LIST;
    var list_landing_gs_ground = data_simconnect.G_FORCE_LANDING_LIST_GROUND
    var list_landing_vspeed_ground = data_simconnect.VERTICAL_SPEED_LANDING_LIST_GROUND;
    var list_landing_alts_ground = data_simconnect.PLANE_ALT_ABOVE_GROUND_LIST_GROUND;
    var landing_rating = data_simconnect.LANDING_RATING;
    var landing_counter = data_simconnect.LANDING_COUNTER;
  
    if (dummy <= landing_counter) {
    
    
  $(document).ready(function() {
    // Javascript method's body can be found in assets/js/demos.js
    demo.initDashboardPageCharts();
  
  });
  
  demo = {
  
    initDashboardPageCharts: function() {
  
  // BEGINNING CHARTS 
  
  gradientChartOptionsConfigurationWithTooltipBlue = {
        maintainAspectRatio: false,
        legend: {
          display: false
        },
  
        tooltips: {
          backgroundColor: '#f5f5f5',
          titleFontColor: '#333',
          bodyFontColor: '#666',
          bodySpacing: 4,
          xPadding: 12,
          mode: "nearest",
          intersect: 0,
          position: "nearest"
        },
        responsive: true,
        scales: {
          yAxes: [{
            barPercentage: 1.6,
            gridLines: {
              drawBorder: false,
              color: 'rgba(29,140,248,0.0)',
              zeroLineColor: "transparent",
            },
            ticks: {
              padding: 20,
              fontColor: "#9a9a9a"
            }
          }],
  
          xAxes: [{
            barPercentage: 1.6,
            gridLines: {
              drawBorder: false,
              color: 'rgba(29,140,248,0.1)',
              zeroLineColor: "transparent",
            },
            ticks: {
              padding: 20,
              fontColor: "#9a9a9a"
            }
          }]
        }
      };
  
      gradientChartOptionsConfigurationWithTooltipPurple = {
        maintainAspectRatio: false,
        legend: {
          display: false
        },
  
        tooltips: {
          backgroundColor: '#f5f5f5',
          titleFontColor: '#333',
          bodyFontColor: '#666',
          bodySpacing: 4,
          xPadding: 12,
          mode: "nearest",
          intersect: 0,
          position: "nearest"
        },
        responsive: true,
        scales: {
          yAxes: [{
            barPercentage: 1.6,
            gridLines: {
              drawBorder: false,
              color: 'rgba(29,140,248,0.0)',
              zeroLineColor: "transparent",
            },
            ticks: {
              padding: 20,
              fontColor: "#9a9a9a"
            }
          }],
  
          xAxes: [{
            barPercentage: 1.6,
            gridLines: {
              drawBorder: false,
              color: 'rgba(225,78,202,0.1)',
              zeroLineColor: "transparent",
            },
            ticks: {
              padding: 20,
              fontColor: "#9a9a9a"
            }
          }]
        }
      };
  
    gradientChartOptionsConfigurationWithTooltipGreen = {
        maintainAspectRatio: false,
        legend: {
          display: false
        },
  
        tooltips: {
          backgroundColor: '#f5f5f5',
          titleFontColor: '#333',
          bodyFontColor: '#666',
          bodySpacing: 4,
          xPadding: 12,
          mode: "nearest",
          intersect: 0,
          position: "nearest"
        },
        responsive: true,
        scales: {
          yAxes: [{
            barPercentage: 1.6,
            gridLines: {
              drawBorder: false,
              color: 'rgba(29,140,248,0.0)',
              zeroLineColor: "transparent",
            },
            ticks: {
              padding: 20,
              fontColor: "#9a9a9a"
            }
          }],
  
          xAxes: [{
            barPercentage: 1.6,
            gridLines: {
              drawBorder: false,
              color: 'rgba(0,242,195,0.1)',
              zeroLineColor: "transparent",
            },
            ticks: {
              padding: 20,
              fontColor: "#9a9a9a"
            }
          }]
        }
      };
      
     
  
  /// Good Example ///
  
      var chartGs = document.getElementById("chartLineGs").getContext("2d");
  
      var data = {
        labels: empty_labels,
        datasets: [
      {
      label: "Vertical Gs (on ground)",
          fill: true,
          borderColor: '#d245b3',
          borderWidth: 2,
          borderDash: [],
          borderDashOffset: 0.0,
          pointBackgroundColor: '#d245b3',
          pointBorderColor: 'rgba(255,255,255,0)',
          pointHoverBackgroundColor: '#d245b3',
          pointBorderWidth: 20,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 15,
          pointRadius: 4,
          data: list_landing_gs_ground,
        }, 
      
      {
          
      label: "Vertical Gs (airborne)",
          fill: true,
          borderColor: '#a3a3a3',
          borderWidth: 2,
          borderDash: [],
          borderDashOffset: 0.0,
          pointBackgroundColor: '#a3a3a3',
          pointBorderColor: 'rgba(255,255,255,0)',
          pointHoverBackgroundColor: '#a3a3a3',
          pointBorderWidth: 20,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 15,
          pointRadius: 4,
          data: list_landing_gs,
      
    },]
      
      
      };
  
      var myChart = new Chart(chartGs, {
        type: 'line',
        data: data,
        options: gradientChartOptionsConfigurationWithTooltipPurple
      });
  
  /// End of Good Example
  
  
  /// Good Example ///
  
      var ctxVSpeed = document.getElementById("chartLineVSpeed").getContext("2d");
  
      var data = {
        labels: empty_labels,
        datasets: [
      {
      label: "Vertical Speed (on ground)",
          fill: true,
          borderColor: '#008dee',
          borderWidth: 2,
          borderDash: [],
          borderDashOffset: 0.0,
          pointBackgroundColor: '#008dee',
          pointBorderColor: 'rgba(255,255,255,0)',
          pointHoverBackgroundColor: '#008dee',
          pointBorderWidth: 20,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 15,
          pointRadius: 4,
          data: list_landing_vspeed_ground,
        }, 
      
      {
          
      label: "Vertical Speed (airborne)",
          fill: true,
          borderColor: '#a3a3a3',
          borderWidth: 2,
          borderDash: [],
          borderDashOffset: 0.0,
          pointBackgroundColor: '#a3a3a3',
          pointBorderColor: 'rgba(255,255,255,0)',
          pointHoverBackgroundColor: '#a3a3a3',
          pointBorderWidth: 20,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 15,
          pointRadius: 4,
          data: list_landing_vspeed,
      
    },]
      
      
      };
  
      var myChart = new Chart(ctxVSpeed, {
        type: 'line',
        data: data,
        options: gradientChartOptionsConfigurationWithTooltipBlue
      });
  
  /// End of Good Example
  
  /// Good Example ///
  
      var ctxAlt = document.getElementById("chartLineAlt").getContext("2d");
  
      var data = {
        labels: empty_labels,
        datasets: [
      {
      label: "Altitude Above Ground (on ground)",
          fill: true,
          borderColor: '#00d6b6',
          borderWidth: 2,
          borderDash: [],
          borderDashOffset: 0.0,
          pointBackgroundColor: '#00d6b6',
          pointBorderColor: 'rgba(255,255,255,0)',
          pointHoverBackgroundColor: '#00d6b6',
          pointBorderWidth: 20,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 15,
          pointRadius: 4,
          data: list_landing_alts_ground,
        }, 
      
      {
          
      label: "Altitude Above Ground (airborne)",
          fill: true,
          borderColor: '#a3a3a3',
          borderWidth: 2,
          borderDash: [],
          borderDashOffset: 0.0,
          pointBackgroundColor: '#a3a3a3',
          pointBorderColor: 'rgba(255,255,255,0)',
          pointHoverBackgroundColor: '#a3a3a3',
          pointBorderWidth: 20,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 15,
          pointRadius: 4,
          data: list_landing_alts,
      
    },]
      
      
      };
  
      var myChart = new Chart(ctxAlt, {
        type: 'line',
        data: data,
        options: gradientChartOptionsConfigurationWithTooltipGreen
      });
  
  /// End of Good Example      
  
  // END CHARTS
  
    },
  
  
  };
      
      
      dummy = dummy + 1;
      
    }
    });
  };
  </script>
</body>
{% endblock %}
